*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Gabarito','sans-serif';
}
/*navbar*/
.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
    color:#A435F0
}
.navbar__s2{
     padding:10px;
     border: solid black 1px;
     border-radius: 30px;
     width:60%;
     display: flex;
     gap:10px;
     align-items: center;
}
.navbar__s2 input{
    border:none;
    width:100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display:flex;
    gap:10px;
    align-items: center;
}

/*My learning popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width:100px;
    top:150%;
    padding: 20px;
    right:0;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display: block;
}
/*Categories*/
.categories{
    display:flex;
    padding:10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding:10px;
    border-radius: 30px;
}
.sale__image img{
    width:100%;
}

.sale_image__offer{
    background-color:white;
    color:black;
    position:relative;
    bottom: 300px;
    width:35%;
    left:100px;
    border:solid black 2px;
    padding:2%;
}

.recommended{
    padding: 10px;
}
.course_card{
    width:340px;    
}
.course_card img{
    height:50%;
    width:100%;
}

.recommended__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.Topics{
    padding: 10px;
}
.Topics__container{
    display: flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.Topics__container p{
     border:solid grey 2px;
     padding:10px;
     flex-grow:1;/* flex grow and wrap can be given in the flex items*/
     flex-basis:25%;

}
/*Popular section*/
.popular{
    padding:10px;
    
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
     background-color: black;
     color: white;
     padding:30px;
}
.footer__one{
    display:flex;
    gap:10px;
}
.footer__one p{
    margin:20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;
}